.menu-link {
    text-decoration: none;
    color: #e3e3e3;
}

#menu-list {
    padding: 0 0 0 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
}

@media(min-width: 600px) {
    #menu-list {
        flex-direction: column;
        gap: 64px;
        align-items: center;

    }
}