.social-image {
    width: 24px;
    padding: 0 8px 0 0;
}

.social-link {
    text-decoration: none;
}

#social-list {
    margin: 0 0 8px 0;
    padding: 0 0 0 4px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
    list-style: none;
}