@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(social-icons.css);
@import url(menu.css);
@import url(posts-grid.css);
html {
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-rows: 180px auto 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer";
}

@media(min-width: 600px) {
    .container {
        display: grid;
        grid-template-rows: 180px 1fr 60px;
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        grid-template-areas:
            "header     header     header     header"
            "content    content     content   navigation"
            "footer     footer     footer     footer";

        background-color: antiquewhite;
    }
}


.header {
    background-color: gray;
    grid-area: header;
}

.navigation {
    background-color: red;
    grid-area: navigation;
}

.main {
    grid-area: content;
}

.footer {
    display: flex;
    background-color: blue;
    grid-area: footer;
    justify-content: center;
    align-items: center;
}

#copyright {
   color: white;
   font-size: 12px;
}

.post-card{
    background-color: white;
}